// colors
$defaultBG: #FFF1E0;
$defaultColor: #333333;
$placeHolderBG: #E9DECF;


// width, height and padding


// Percentages
$goldenRatio: 168.1%;
$videoRatio: percentage(9/16);
$coverImage: 56.25%;

// Font Sizes

// score card display
